/* ===Document Styles=== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 1em;
    max-width: 65em;
}

/* ===Code Styles=== */

code {
    font-family: "Inconsolata", monospace;
}

pre code {
    display: block;
    background-color: lightgray;
    width: max-content;
    min-width: 25em;
    max-width: 100%;
    margin: 1em 0;
    text-wrap: initial;
    padding: 0.5em;
}

/* ===Heading and Footer Styles=== */

h1, h2 {
    margin: 3px 0;
}

footer {
    font-style: italic;
}

/* ===Font Declarations=== */

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/open-sans-italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/open-sans-bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inconsolata.woff2') format('woff2');
}