/* ===Document Styles=== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5em;
}

/* ===Code Styles=== */

pre code {
    display: block;
    background-color: lightgray;
    width: max-content;
    min-width: 25em;
    margin: 1em 0;
}