/* ===Document Styles=== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 1em;
    max-width: min(65em, 100%);
}

main {
    margin-bottom: 2em;
}

article {
    display: flex;
}

@media (max-width: 100em) {
    article {
        flex-direction: column;
    }

    article nav {
        max-width: 100%;
        order: 0;
        margin-bottom: 1em;
        position: fixed;
    }

    #content {
        order: 1;
    }
}

#content {
    flex: 1;
    width: min(65em, 100%);
}

/* ===Code Styles=== */

code {
    font-family: "Inconsolata", monospace;
}

pre code {
    display: block;
    background-color: #ccc;
    width: max-content;
    max-width: 100%;
    margin: 1em 0;
    text-wrap: initial;
    padding: 0.5em;
}

/* ===List Styles=== */

ul, ol {
    padding-left: 1em;
}

/* ===Heading and Footer Styles=== */

h1, h2 {
    margin: 3px 0;
}

footer {
    font-style: italic;
}

/* ===Navigation Styles=== */

nav {
    background-color: #0a0;
    position: sticky;
    top: 0;
    max-width: 25%;
    order: 1;
}

nav ul li a, nav > header {
    color: #fff;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

/* ===Text Styles=== */

p {
    margin: 1em 0;
}

/* ===Font Styles=== */

.equation {
    font-family: "Cambria Math", Cambria, Calibri, "Open Sans", sans-serif;
}

/* ===Table Styles=== */

table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 2px;
}

td.merge {
    border-right: none;
}

td.merge + td {
    border-left: none;
}

.wrapper {
    overflow: auto;
}

/* ===Font Declarations=== */

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/open-sans-italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/open-sans-bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inconsolata.woff2') format('woff2');
}