/* ===Document Styles=== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", "Sans-serif Fallback", sans-serif;
    line-height: 1.5;
}

body {
    margin: 1em;
}

main {
    margin-bottom: 2em;
}

article {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: start;
}

#content {
    width: 65em;
    max-width: 100%;
}

/* ===Code Styles=== */

code {
    font-family: "Inconsolata", "Monospace Fallback", monospace;
}

pre {
    overflow-x: auto;
    background-color: #ccc;
    margin: 1em 0;
}

pre code {
    display: block;
    width: max-content;
    max-width: 100%;
    padding: 0.5em;
}

/* ===List Styles=== */

ul, ol {
    padding-left: 1em;
}

/* ===Heading and Footer Styles=== */

h1, h2 {
    margin: 3px 0;
}

footer {
    font-style: italic;
}

/* ===Navigation Styles=== */

aside {
    position: sticky;
    top: 0.5em;
    flex-shrink: 1;
    background-color: #0a0;
    font-size: 1.5em;
}

nav ul li a, nav > header {
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 92em)
{
    nav ul {
        flex-direction: row;
    }

    nav > header {
        display: none;
    }

    aside nav ul li:hover {
        margin-left: 0.5em;
    }
}

nav ul li {
    margin-right: 1em;
    transition-property: margin;
    transition-duration: 0.5s;
}

nav ul li:hover {
    margin: 0.5em 1em 0.5em 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    transition-property: color;
    transition-duration: 1s;
}

nav ul li a:hover {
    color: #00c;
    text-decoration: underline;
}

/* ===Text Styles=== */

p {
    margin: 1em 0;
}

/* ===Font Styles=== */

.equation {
    font-family: "Cambria Math", Cambria, Calibri, "Open Sans", sans-serif;
}

/* ===Table Styles=== */

table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 2px;
}

td.merge {
    border-right: none;
}

td.merge + td {
    border-left: none;
}

.wrapper {
    overflow: auto;
}